#!/usr/bin/make -f
#export DH_VERBOSE=1

# Disable module-aware mode, required for compatibility with Go 1.16+
export GO111MODULE=off

%:
	dh $@ --with systemd

override_dh_installinit:
	dh_installinit --no-restart-on-upgrade --name xe-guest-utilities

override_dh_systemd_enable:
	dh_systemd_enable --name xe-guest-utilities.service
