# Hotplug CPU support
ATTR{[dmi/id]sys_vendor}!="Xen", GOTO="xen_hotadd_end"

# CPU hotadd request
SUBSYSTEM=="cpu", ACTION=="add", DEVPATH=="/devices/system/cpu/cpu[0-9]*", TEST=="online", ATTR{online}="1"

LABEL="xen_hotadd_end"

